# Virtual environments
flask-venv/
.venv/
venv/

# Python cache
__pycache__/
website/__pycache__/
*.py[cod]

# VS Code
.vscode/
website/.vscode/

# Environment variables
.env

#Old Python files
genai-microservice/app/old_main.py

# Old HTML files
website/templates/demo_backup.html


# Databases
*.db

# Test reports
reports/

# OS files
.DS_Store
Thumbs.db