# Virtual environments
flask-venv/
.venv/
venv/

# Python cache

*.py[cod]

__pycache__/
website/__pycache__/
tools/__pycache__/

apps/api/app/__pycache__/
apps/web/website/__pycache__/

apps/api/app/api/__pycache__/
apps/api/app/data_platform/__pycache__/
apps/api/app/observability/__pycache__/
apps/api/app/providers/__pycache__/
apps/api/app/reservoir/__pycache__/
apps/api/app/tests/__pycache__/

apps/api/app/data_platform/connectors/__pycache__/
apps/api/app/data_platform/inventory/__pycache__/
apps/api/app/data_platform/pipelines/__pycache__/
apps/api/app/data_platform/registry/__pycache__/



#Pytest cache
.pytest_cache/

# VS Code
.vscode/
website/.vscode/

# Environment variables
.env
genai-microservice/.env

#Old Python files
genai-microservice/app/old_main.py

# Old HTML files
website/templates/demo_backup.html


# Databases
*.db

# Test reports
reports/

# OS files
.DS_Store
Thumbs.db