{%extends "base.html" %}

{% block title%} Signup - TXArray 12.5.2 {% endblock %}

{% block content %}

    <h4 style='color: rgb(205, 123, 32)' >Changing your password?</h4>
    <br/>
    <h5 style='color: rgb(205, 123, 32)' >Enter new password here!</h5>
    <br/>
    <form method="POST">
        <br>
        <div class="form-group">
            <label for="new_password1">New Password</label>
            <input
                type="password"
                class="form-control"
                id="new_password1"
                name="new_password1"
                placeholder="Enter new password"
            />
        </div>
        <br>
        <div class="form-group">
            <label for="new_password2">New Password (Confirm)</label>
            <input
                type="password"
                class="form-control"
                id="new_password2"
                name="new_password2"
                placeholder="Confirm new password"
            />
        </div>
        <br>
        
        <br />
        <button type="submit" class="btn btn-primary">Change Password</button>
    </form>

{% endblock %}