{%extends "base.html" %}

{% block title%} Signup - TXArray 12.5.2 {% endblock %}

{% block content %}

    <br/>
    <h5>Please enter your email address</h5>
    
    <br/>
    <form method="POST">
        <div class="form-group">
            <br/>

            <label for="email">Email Address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email"
            />
        </div>
        <br>
        
        <!-- <div class="form-group">
            <h5 style='color: rgb(205, 123, 32)' >Enter a new password here!</h5>
            <label for="new_password1">New Password</label>
            <input
                type="password"
                class="form-control"
                id="new_password1"
                name="new_password1"
                placeholder="Enter new password"
            />
        </div>
        <br>
        <div class="form-group">
            <h5 style='color: rgb(205, 123, 32)' >Confirm your new password</h5>
            <label for="new_password2">New Password (Confirm)</label>
            <input
                type="password"
                class="form-control"
                id="new_password2"
                name="new_password2"
                placeholder="Confirm new password"
            />
        </div>
        <br>
        -->
        <br />
        <button type="submit" class="btn btn-primary">Submit Email</button>
    </form>

{% endblock %}