{%extends "base.html" %}

{% block title%} Portfolio - LLM demo {% endblock %}

{% block content %}
    <div class="content">
        <h1>Welcome to an integrated OpenAI LLM prompt microservice ...</h1> 

        <br></br>
        <b><em> Developed for high throughput asynchronous API model inference  </em></b>
        <b><em> Validated using a load test of 50 repeated httpx call requests by 1000 async clients  </em></b>
        
        <h5>Ready to Chat? What can I help you with?...</h5>


        <!-- <form action = "/{{cust_name}}/success{{cust_codenum}}" method = "post" enctype="multipart/form-data"> 
        <label for="files">Select Files:</label>  
        <br></br>
        <input class="ok" type="file" id = "files" name="files" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" multiple>   
        <br></br>
        <input class="op" type= "submit" name= "submit_button" value="Upload Field Data">   
        </form>    -->
    </div>
{% endblock %}